/* GENERAL */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    background-color: black;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
    color: #ff5c34;
    margin-bottom: 50px;
    margin-left: 100px;
}

li {

    margin-right: 40px;
    font-size: 15px;
    color: #000000;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
    color: #ffffff;
    text-align: center;
    margin: 40px;
}

/* HEADER */
header {
    background: url(images/15882.jpg);
    background-size: cover;
    background-position: bottom;
    height: 200px;
}

header h1 {
    float: left;
    margin-top: 130px;

}

header nav {
    float: right;
    margin-top: 50px;
}

header nav ul li {
    display: inline-block;
    float: left;
}

a:hover {
    color: #ff0000;
    font-weight: bold;
    opacity: 0.80;
}

header nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px;
}

/* MAIN */
#film img {
    margin: 80px;
    position: relative;
    right: 520px;
    z-index: -1;

}

.container .film_content {
    display: flex;
    margin: 20px;
}

#film .film_content h1 {
    display: flex;
    font-size: 35px;
    margin: 80px 0 50px -550px;
    font-weight: bold;
    

}

#film .film_content .duree {

    font-size: 20px;
    color: white;
    margin: 130px 50px 10px -10px;
}

#film .film_content p {

    font-size: 15px;
    font-weight: bold;
    color: white;
    margin: 220px 50px -10px -110px;


}



#film::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://www.advitamdistribution.com/app/uploads/2023/09/RIEN-A-PERDRE-Visuel-3-%C2%A9-2023-Curiosa-Films-1920x1056.jpg) no-repeat;
    background-size: cover;
    opacity: 0.30;
    z-index: -1;
    top: 150px;
}


/* FOOTER */
footer {
    background: url(images/mur.jpg);
    background-size: cover;
    background-position: bottom;
    height: 200px;
}

footer h1 {
    color: white;
    text-align: center;
    padding-top: 55px;
}

.copyright {
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color: #ffffff;
}